h1{
  background-color: #CEAED7;
  width: 500px;
  margin: 0;
  color: #5C314A;
}
 
.para{
  width: 500px;
  max-height: 0px;
  border-bottom: 2px solid #4B3849;
  word-wrap: normal;
  overflow: hidden;
  transition: all 1s ease;
  margin: 0;
}

.para2{
  border-bottom: 2px solid #4B3849;
  width: 500px;
  max-height: 0px;
  overflow: hidden;
  transition: all 1s ease;
  margin: 0;
}
.para3{
  border-bottom: 2px solid #4B3849;
  width: 500px;
  max-height: 0px;
  overflow: hidden;
  transition: all 1s ease;
  margin: 0;
}

.big{
  max-height: 500px;
  background-color: #DCDCDC;

}